[Desktop Entry]
Name=Pardus Update
Name[pt]=Atualização Pardus
Name[tr]=Pardus Güncelleyici
Comment=Simple update application
Comment[pt]=Aplicação de atualização simples
Comment[tr]=Basit güncelleme uygulaması
Exec=pardus-update
Icon=pardus-update
Terminal=false
Type=Application
Categories=GTK;System;X-Pardus-Apps;
StartupNotify=true
Keywords=apt;update;upgrade
